@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap')

div.sidebar
    background-color: #232323
    color: white
    padding: 0 1rem

    div.sidebar__head
        padding: 1rem
        padding-top: 1.5rem
        border-bottom: 0.5px solid white
        font-family: 'Roboto', sans-serif
        font-size: 20px

    nav.sidebar__nav
        margin-top: 1rem
        display: flex
        flex-direction: column

        a.nav_link
            font-size: 18px
            font-family: 'Roboto', sans-serif
            padding: 0.75rem 1rem
            color: white
            text-decoration: none
            border-radius: 10px
            transition: 0.5s
        
        a.nav_link:hover
            padding-left: 2rem
        
        a.nav_link.selected
            background-color: #0a54ff
            background: linear-gradient(to right, #4f84ff , #0a54ff 50%, #0d4bdd)