div.app
    width: 100%
    height: 100%
    display: flex

    div.sidebar
        flex: 0.16
        height: 100%

    div.rightside
        flex: 0.84
    
        div.main
            padding: 1rem
