.blueDatePicker {
    // Change the color to blue
    & .MuiInput-underline:before {
      border-bottom: 2px solid #1976d2 !important;
    }
  
    // Change the color of the selected date
    & .Mui-selected {
      background-color: #1976d2 !important;
      color: white !important;
    }
}

.legend {
    font-size: 13px;
    display: flex;

    div {
        display: flex;
        align-items: center;
        .legend_normal {
            margin-right: 5px;
            background-color: #4caf50;
            width: 15px;
            height: 15px;
            // border: 1px solid black;
            border-radius: 0;
        }
    
        .legend_office {
            margin: 0 5px;
            margin-left: 10px;
            background-color: #e5f6fd;
            width: 15px;
            height: 15px;
            border: 1px solid #014361;
            border-radius: 0;
        }
    
        .legend_lunch {
            margin: 0 5px;
            margin-left: 10px;
            background-color: #fff4e5;
            width: 15px;
            height: 15px;
            border: 1px solid #663c00;
            border-radius: 0;
        }

        .legend_buffer {
            margin: 0 5px;
            margin-left: 10px;
            background-color: #c5c5c5;
            width: 15px;
            height: 15px;
            border: 1px solid #000000;
            border-radius: 0;
        }
    
        .legend_uae {
            margin: 0 5px;
            margin-left: 10px;
            background-color: #ff2a2a;
            width: 15px;
            height: 15px;
            // border: 1px solid black;
            border-radius: 0;
        }
    }
}

.vis-background {
    background-color: white;
}

.vis-item.timeline_item {
    // background-color: #4caf501a;
    padding: 0.5rem;
    background-color: #4caf50;
    // font-size: 14px;
    line-height: normal;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 0;
    
    .vis-item-overflow {
        .vis-item-content {
            div {
                div:nth-of-type(1) {
                    margin-bottom: 5px;

                    div {
                        margin: 0;
                        font-size: 13px;
                    }
                }

                div:nth-of-type(2) > div {
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
    }
}

.vis-item.timeline_item_office {
    padding: 0.5rem;
    background-color: #e5f6fd; // office
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #014361; // office
    border: 1px solid #014361;
    border-radius: 0;
    height: 99px;
}

.vis-item.timeline_item_buffer {
    padding: 0.5rem;
    background-color: #c5c5c5; // buffer
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #000000; // buffer
    border: 1px solid #000000;
    border-radius: 0;
    height: 99px;
}

.vis-item.timeline_item_lunch {
    padding: 0.5rem;
    background-color: #fff4e5; // lunch
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #663c00; // lunch
    border: 1px solid #663c00;
    border-radius: 0;
    height: 99px;
}

.vis-item.timeline_item_uae {
    padding: 0.5rem;
    // background: linear-gradient(90deg, #800000 0%, #00401b 50%, #000000 80%);
    // background-color: #ff620011;
    background-color: #ff2a2a;
    // font-size: 14px;
    line-height: normal;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 0;

    .vis-item-overflow {
        .vis-item-content {
            div {
                div:nth-of-type(1) {
                    margin-bottom: 5px;

                    div {
                        margin: 0;
                        font-size: 13px;
                    }
                }

                div:nth-of-type(2) > div {
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
    }
}