.blueDatePicker {
    // Change the color to blue
    & .MuiInput-underline:before {
    border-bottom: 2px solid #1976d2 !important;
    }

    // Change the color of the selected date
    & .Mui-selected {
    background-color: #1976d2 !important;
    color: white !important;
    }
}

.legend {
    font-size: 13px;
    display: flex;

    div {
        display: flex;
        align-items: center;

        div[class^=legend_] {
            margin-right: 5px;
            margin-left: 2rem;
            width: 15px;
            height: 15px;
            border-radius: 0;
        }

        .legend_normal {
            margin-left: 0 !important;
            background-color: #e3fee4;
            border: 3px solid #3f9041;
        }
    
        .legend_office {
            background-color: #e5f6fd;
            border: 3px solid #014361;
        }
    
        .legend_lunch {
            background-color: #fff4e5;
            border: 3px solid #663c00;
        }

        .legend_buffer {
            background-color: #dfdfdf;
            border: 3px solid #000000;
        }
    
        .legend_dubai {
            background-color: #ffe4e4;
            border: 3px solid #b11111;
        }

        .legend_sharjah {
            background-color: #f6cfff;
            border: 3px solid #8e00ae;
        }

        .legend_abudhabi {
            background-color: #dff6ff;
            border: 3px solid #0092c7;
        }
    }
}

.vis-background {
    background-color: white;
}

.vis-item.timeline_item, .vis-item.timeline_item_dubai, .vis-item.timeline_item_sharjah, .vis-item.timeline_item_abudhabi {
    padding: 0.5rem;
    line-height: normal;
    font-weight: bold;
    // color: white;
    border: 1px solid black;
    border-radius: 0;
    
    .vis-item-overflow {
        .vis-item-content {
            div {
                div:nth-of-type(1) {
                    margin-bottom: 5px;

                    div {
                        margin: 0;
                        font-size: 13px;
                    }
                }

                div:nth-of-type(2) > div {
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
    }
}

.vis-item.timeline_item_office {
    padding: 0.5rem;
    background-color: #e5f6fd; // office
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #014361; // office
    border: 1px solid #014361;
    border-radius: 0;
    height: 111px;
}

.vis-item.timeline_item_buffer {
    padding: 0.5rem;
    background-color: #dfdfdf; // buffer
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #000000; // buffer
    border: 1px solid #000000;
    border-radius: 0;
    height: 111px;
}

.vis-item.timeline_item_lunch {
    padding: 0.5rem;
    background-color: #fff4e5; // lunch
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #663c00; // lunch
    border: 1px solid #663c00;
    border-radius: 0;
    height: 111px;
}

.vis-item.timeline_item {
    // color: #3f9041;
    background-color: #e3fee4;
    border: 1px solid #3f9041;
}

.vis-item.timeline_item_dubai {
    // color: #b11111;
    background-color: #ffe4e4;
    border: 1px solid #b11111;
}

.vis-item.timeline_item_sharjah {
    // color: #8e00ae;
    background-color: #f6cfff;
    border: 1px solid #8e00ae;
}

.vis-item.timeline_item_abudhabi {
    // color: #0092c7;
    background-color: #dff6ff;
    border: 1px solid #0092c7;
}
